/* COLORS */
:root {
    --text : #FFFCF2;
    --text-hover : #CDCAC2;
  }
  
  
  /* WHOLE HTML */
  body {
    background-image:radial-gradient(100% 69.5% at 44% 98%, #d69e2e 5%, rgba(220, 169, 53, 0.75) 28.75%, rgba(225, 179, 60, 0.5) 52.5%, rgba(236, 201, 75, 0) 100%), linear-gradient(90deg, #ff1499 0%, #ea05d0 33.33%, #0e71fb 100%);
    background-attachment: fixed;
    color: var(--text);
    font-family: "opem-sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
  
    /* ensure that footer is at the bottom of the screen */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
  }
  
  /*NAVIGATION*/
  
  .samll-display {
    display: none;
  }
  
  nav {
    /* background-color: red; */
    z-index: 10;
    position: fixed;
    /* background-color: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 0;
    padding: 0px;
    height: 90px;
    box-shadow: 0px -5px 20px 0px rgba(255, 255, 255, 0.288);  
  }
  nav.index-nav {
    height: 90px;
    width: 100%;
  }
  ul.header {
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  li {
    color: var(--text);
    margin: 0;
    padding: 25px 0 50px 0;
    display: inline-block;
  }
  
  li a {
    color: var(--text);
    text-decoration: none;
    padding: 5px;
    border: 1px solid transparent;
  }
  
  li.header a:hover { 
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.288);
  }
  
  li.logo:hover a {
    border: 1px solid transparent;
  }
  li.logo {
    float: left;
    padding: 5px 0 0 10px;
  }
  
  
  
  
  
  /* 3 COLUMN DIV SECTION */
  /* ALIGN COLUMN DIVs with class "column" HORIZONTALLY */
  .row {
    margin-top: 90px;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  
  .column {
    width: 33.33%;
    height: 250px;
    transition: width 1s;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .column img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  
  /* ZOOM EFFECT */
  .column:hover {
    width: 75%;
    .column:not(:hover) {
      width: 25%;
    }
  }
  
  
  .column a {
    text-decoration: none;
    color: transparent;
  }
  .column:hover a {
    text-decoration: none;
    color: var(--text);
    /* make it slowly appear */
    transition: color 1s ease;
  }
  
  
  
  
  
  /* CONTENT OF THE SITE */
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  p.content {
    text-align: center;
    padding: 0 20px 10px 20px;
    margin: 0;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
  }
  
  
  
  /* FOOTER */
  footer {
      /* background-color: #ea1515; */
      margin-top: auto;
      text-align: center;
      font-size: 12px;
      border-top: 1px solid var(--text);
      padding: 0px;
  }
  
  
  
  
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 600px) {
    /* NAVIGATION */
    .samll-display {
      display: inline-block;
    }
    .big-display {
      display: none;
    }
    nav.index-nav {
      height:  150px;
    }
    ul.header {
      padding: 0;
    }
    li {
      padding: 5px;
    }
    li:last-child {
      padding: 5px 0 10px 0;
    }
    li:last-child:after{
      content: "";
    }
    li:nth-child(10):after {
      content: "";
    }
    li.logo.samll-display {
      float: none;
      margin: 10px 0 0 0;
      }
    li.logo.samll-display {
      display: block;
      padding: 0;
  
    }
  
  
  
  
    /* COLUMN SECTION */
    .row {
      flex-direction: column;
      width: 100%;
      margin-top: 150px;
    }
    .column {
      width: 100%;
      height: 150px;
      transition: height 0.5s;
  
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .column img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .column:hover {
      width: 100%;
      height: 200px;
      .column:not(:hover) {
        width: 100%;
        height:50px;
      }
    }
  }