body {
    background-color: #000000;
    color: #fffcf2ff;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;

    /* ensure that footer is at the bottom of the screen */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/*NAVIGATION*/

.samll-display {
  display: none;
}

nav {
  /* background-color: red; */
  z-index: 10;
  position: fixed;
  margin: 0;
  padding: 0px;
  height: 90px;
  background-color: #000000;
  box-shadow: 0px -5px 10px 0px #fffcf2ff;  
}
nav.index-nav {
  height: 90px;
  width: 100%;
}
ul.header {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    /* background-color: #fffcf2ff; */
}
li {
  color: #fffcf2ff;
  margin: 0;
  padding: 25px 0 50px 0;
  display: inline-block;
}

li a {
  color: #fffcf2ff;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #000000;
}

li.header a:hover { 
color: rgb(168, 166, 160)
}
li.logo:hover a {
border-radius: 0px;
  border: 1px solid #000000;
}
li.logo {
float: left;
padding: 5px 0 0 10px;
}
li.header:after {
content: " | ";
}
li.header.big-display:nth-child(6):after {
content: "";
}
li.logo:after {
content: "";
}




/* 3 COLUMN DIV SECTION */
/* ALIGN COLUMN DIVs with class "column" HORIZONTALLY */
.row {
  margin-top: 90px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.column {
  width: 33.33%;
  height: 250px;
  transition: width 1s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.column img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


/* ZOOM EFFECT */
.column:hover {
  width: 75%;
  .column:not(:hover) {
    width: 25%;
  }
}


.column a {
  text-decoration: none;
  color: transparent;
}
.column:hover a {
  text-decoration: none;
  color: #fffcf2ff;
  /* make it slowly appear */
  transition: color 1s ease;
}





/* CONTENT OF THE SITE */
h1 {
  text-align: center;
  margin-top: 20px;
}

p.content {
  text-align: center;
  padding: 0 20px 10px 20px;
  margin: 0;
}
p.content.gallery {
  padding: 0 5% 0 0;
  margin: 0;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
}



/* FOOTER */
footer {
    /* background-color: #ea1515; */
    margin-top: auto;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #fffcf2ff;
    padding: 0px;
}


/* GALLERY ENTRIES */
div.gallery.entry {
  margin: 0;
  padding: 10px 0 10px 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div.gallery.entry div.image-container {
  width: 70%;
}
div.gallery.entry div.image-container img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
div.gallery.entry div.text-container {
  width: 30%;
  align-items: center;
}


/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  /* NAVIGATION */
  .samll-display {
    display: inline-block;
  }
  .big-display {
    display: none;
  }
  nav.index-nav {
    height:  150px;
  }
  ul.header {
    padding: 0;
  }
  li {
    padding: 5px;
  }
  li:last-child {
    padding: 5px 0 10px 0;
  }
  li:last-child:after{
    content: "";
  }
  
  li:nth-child(10):after {
    content: "";
  }
  li.logo.samll-display {
    float: none;
    margin: 10px 0 0 0;
    }
  /* putt all header elements in 2nd line */
  li.logo.samll-display {
    display: block;
    padding: 0;

  }




  /* COLUMN SECTION */
  .row {
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
  }
  .column {
    width: 100%;
    height: 150px;
    transition: height 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .column img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .column:hover {
    width: 100%;
    height: 200px;
    .column:not(:hover) {
      width: 100%;
      height:50px;
    }
  }

  /* GALLERY ENTRIES */
  div.gallery.entry {
    margin: 0;
    padding: 10px 0 10px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  div.gallery.entry div.image-container {
    width: 100%;
  }
  div.gallery.entry div.image-container img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  div.gallery.entry div.text-container {
    width: 100%;
    align-items: center;
  }
}
