body {
    background-color: #000000;
    color: #fffcf2ff;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;

    /* ensure that footer is at the bottom of the screen */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/*NAVIGATION*/
nav {
  /* background-color: red; */
    margin: 0;
    padding: 0px;
    height: 90px;
}
nav.index-nav {
  height: 400px;
}
ul.header {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    /* background-color: #fffcf2ff; */
}
li {
  color: #fffcf2ff;
  margin: 0;
  padding: 25px 0 50px 0;
  display: inline-block;
}

li a {
  color: #fffcf2ff;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #000000;
}

li.header a:hover { 
color: rgb(168, 166, 160)
}
li.logo:hover a {
border-radius: 0px;
  border: 1px solid #000000;
}
li.logo {
float: left;
padding: 5px 0 0 10px;
}
li.header:after {
content: " | ";
}
li.header:last-child:after {
content: "";
}
li.logo:after {
content: "";
}




/* 3 COLUMN DIV SECTION */
/* ALIGN COLUMN DIVs with class "column" HORIZONTALLY */
.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 33.33%;
  height: 250px;
  transition: width 1s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.column img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


/* ZOOM EFFECT */
.column:hover {
  width: 75%;
  .column:not(:hover) {
    width: 25%;
  }
}


.column a {
  text-decoration: none;
  color: transparent;
}
.column:hover a {
  text-decoration: none;
  color: #fffcf2ff;
  /* make it slowly appear */
  transition: color 1s ease;
}





/* CONTENT OF THE SITE */
h1 {
  text-align: center;
}

p.content {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Multiline Typewriter effect */




/* FOOTER */
footer {
    /* background-color: #ea1515; */
    margin-top: auto;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #fffcf2ff;
    padding: 0px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  nav.index-nav {
    height: 575px;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }
  .column {
    width: 100%;
    height: 150px;
    transition: height 1s;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .column img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .column:hover {
    width: 100%;
    height: 200px;
    .column:not(:hover) {
      width: 100%;
      height:50px;
    }
  }
}
